{**
 * @param Filter                         $filter
 * @param Nette\Forms\Controls\TextInput $input
 *}

{if $outer}
	<div class="d-flex flex-row mb-6">
		<div class="p-1">
			{label $input, class: 'form-label' /}
			{input $input, class: 'form-control px-2 form-control-sm'}
		</div>
	</div>
{else}
	<div class="form-outline mb-4">
		{input $input, class: 'form-control'}
	</div>
{/if}