services:
    security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])
    # Managers
    core.aclManager: Rdurica\Core\Model\Manager\AclManager
    core.userManager: Rdurica\Core\Model\Manager\UserManager
    core.userRoleManager: Rdurica\Core\Model\Manager\UserRoleManager

    # Services
    core.aclService: Rdurica\Core\Model\Service\AclService
    core.userService: Rdurica\Core\Model\Service\UserService
    core.authorizator: Rdurica\Core\Model\Service\AuthorizationService
