{block content}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <p class="fs-3"> Opps...</p>
        <p class="lead">
            Your browser sent a request that this server could not understand or process.
        </p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>